<a href="/posts/new">Now make a new post, NERD.</a>

<% posts.forEach(function (posts){ %>
  <div class ="posts">
    <p>
      <%= posts.title %> --- <%= posts.author %> --- <%= posts.content %>

      <a href = "/posts/<%= posts.id %>/edit">EDIT</a>

      <form action="/posts/<%= posts.id %>?_method=DELETE"
            method="post">
        <input type="submit" value="Delete">
      </form>
    </p>
    </div>
<% }) %>
