<a href="/posts/new">Now make a new post, NERD.</a>

<% posts.forEach(function (posts){ %>
  <div class ="posts">
    <p>
      <div class = "post-title">
      <a href="/posts/<%= posts.id %>"><%= posts.title %></a></br>
        <h5>Posted by: <%= posts.author %> on <%= posts.date %></h5>
      </div>
      <div class = "post-content">
      <%= posts.content %>
    </div>
    <div class = "post-options">

      <form action="/posts/<%= posts.id %>/edit"
            method="patch">
      <input type="submit"
             value="Edit"
             id = "post-edit">
      </form>

      <form action="/posts/<%= posts.id %>?_method=DELETE"
            method="post">
        <input type="submit"
               value="Delete"
               id = "post-edit"></form>
      </form>

      <a href="/posts/<%= posts.id %>"><%= posts.comments.length %> Comments</a>
    </div>


    </p>
    </div>
<% }) %>
