<% posts.forEach(function (posts){ %>



  <div class ="posts">

      <div class = "post-title">

        <a href="/posts/<%= posts.id %>"><%= posts.title %></a></br>

        <h5>Posted by: <%= posts.username %> on <%= posts.date %></h5>

      </div>

      <div class = "post-content">

        <%= posts.content %>

      </div>

    <div class = "post-options">

      <a href="/posts/<%= posts.id %>"><%= posts.comments.length %> Comments</a>


<% if (currentUser === posts.username) { %>

    <div class = "votes">
      <form action="/posts/<%= posts.id %>/upvote?_method=POST"
          method="post" class = "increment up">
          <button type="submit">
            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
          </button>
      </form>


      <div class="count"><%= posts.vote %></div>


      <form action="/posts/<%= posts.id %>/downvote?_method=POST"
          method="post" class = "increment down">
          <button type="submit">
            <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
          </button>
        </form>
  </div>

      <form action="/posts/<%= posts.id %>/edit"
            method="patch">

      <input type="submit"
             value="Edit"
             id = "post-edit">
      </form>

      <form action="/posts/<%= posts.id %>?_method=DELETE"
            method="post">
      <input type="submit"
             value="Delete"
             id = "post-edit"></form>
      </form>


    </div>

<% } %>

    </p>

    </div>

<% }) %>
