<div class ="posts">
  <p>
    <div class = "post-title">
    <%= posts.title %></br>
      <h5>Posted by: <%= posts.author %> on <%= posts.date %></h5>
    </div>
    <div class = "post-content">
    <%= posts.content %>
  </div>
  <div class = "post-comments">
  <%= posts.comments.username %>
  <%= posts.comments.body %>
  <%= posts.comments.date %>
</div>

<!-- <h4 id = "commentheader">Comment!</h4>
<form action="/posts/<%= posts.id %>?_method=POST/" method="post">
    <input type="text"
           name="post[comments][body]"
           value=""
           id = "comment">
    <input type = "submit"
           name="posts[comments]"
           value="SUBMIT"
           id = "comment-button">
</form> -->
