<div class ="posts">
  <p>
    <div class = "post-title">
    <%= posts.title %></br>
      <h5>Posted by: <%= posts.author %> on <%= posts.date %></h5>
    </div>
    <div class = "post-content">
    <%= posts.content %>
  </div>

<h4 id = "commentheader">Comment!</h4>
<form action="/posts/<%= posts._id %>" method="post" class="comments">
    <input type="text"
           name="posts[comments][body]"
           placeholder="comment"
           id = "comment">
    <input type = "submit"
           name="posts[comments]"
           value="SUBMIT"
           id = "comment-button">
</form>
<br/>
<% posts.comments.forEach(function (comment, i) { %>
<div class = "post-comments">
<%= comment.body %><br/>
Posted By: <%= comment.username %> --- <%= comment.date %><br/>

</div>
<% }) %>
